/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #21212E;
}
p {
    color: rgb(126, 126, 146);
}
a:visited {
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    max-width: 1450px;
    margin: 0 auto;
}
.brands-wrapper {
    max-width: 1800px;
    margin: 0 auto;
}
.circle-wrapper {
    position: relative;
    max-width: 1450px;
    margin: 0 auto
}

/* TOP PAGE */
.top-page {
    background-image: url(img/top-bg.png);
    background-repeat: no-repeat;
    height: 1080px;
    background-position: center;
}
.top-bar {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 20px;
}
.navbar ul{
    display: flex;
    color: rgb(126, 126, 146);
    text-decoration: none;
    list-style: none;
    align-items: baseline;
}
.navbar ul li {
    margin-top: 50px;
    margin-left: 60px;
    font-size: 20px;
}
.navbar ul li:hover {
    color: rgb(187, 187, 206);
    transition: 0.3s;
}
.home {
    color: rgb(187, 187, 206);
}
.contact {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: white;
    padding: 15px 50px;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Muli';
    outline: none;
}
.contact:hover {
    background-color: white;
    color: #66667E;
    cursor:pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 30px #ffffff62;
}
.top-page-text {
    margin-top: 285px;
    max-width: 516px;
}
.top-page-text h1 {
    font-family: 'Muli';
    font-weight: lighter;
    font-size: 55px;
    color: white;
    margin-bottom: 20px;
}
.top-page-text p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 70px;
}
.plans {
    width: 280px;
    height: 80px;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    font-family: 'Muli';
    font-size: 25px;
    margin-right: 26px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    outline: none;
}
.plans:hover {
    cursor: pointer;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px rgba(130, 46, 255, 0.76);
    transition: 0.3s;
    border: none;
}
.pricing {
    width: 214px;
    height: 80px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    font-family: 'Muli';
    font-size: 25px;
    outline: none;
}
.pricing:hover {
    cursor: pointer;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px rgba(130, 46, 255, 0.76);
    transition: 0.3s;
    border: none;
}



/* BRANDS */
.brands-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #21212E;
    padding-left: 87px;
}
.brand {
    background: #20202C 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000008A;
    border-radius: 7px;
    margin-right: 50px;
}
.img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-triangle img{
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.aws {
    width: 222px;
    height: 147px;
}
.puma {
    width: 260px;
    height: 118px;  
}
.microsoft {
    width: 309px;
    height: 96px;
}
.inkyy {
    width: 315px;
    height: 131px;
}
.nike {
    width: 283px;
    height: 97px;
    align-self: center;
    margin-right: 80px;
}
.disney {
    width: 268px;
    height: 124px;
    align-self: flex-start;
}
.converse {
    width: 250px;
    height: 144px;  
    align-self: flex-end;
    margin-top: 26px;
}
.itunes {
    width: 268px;
    height: 110px;
    align-self: center;
}
.brands-first-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 46px;
}
.brands-second-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.brands-third-row {
    display: flex;
    margin-bottom: 45px;
    margin-left: 50px;
}
.circle-icon {
    position: absolute;
    right: -100px;
    width: 300px;
}
.brands-text {
    text-align: left;
    margin-top: 300px;
    max-width: 400px;
}
.brands-text h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 40px;
}
.brands-text p {
    line-height: 35px;
    font-size: 16px;
}



/* CUSTOMIZE */
.customize-parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}
.customize-text-container {
    margin-top: 650px;
    max-width: 500px;
}
.customize-text-container h4 {
    width: 184px;
    height: 50px;
    background-color: rgba(0, 236, 153, 0.1);
    color: #00EC98;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.customize-text-container h2 {
    text-align: left;
    font-family: 'Muli';
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0;
    color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 36px;
}
.customize-text-container p {
    margin-bottom: 36px;
    line-height: 35px;
    max-width: 500px;
}
.features-btn {
    width: 280px;
    height: 80px;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px rgba(130, 46, 255, 0.459);
    border-radius: 15px;
    color: white;
    font-family: 'Muli';
    font-size: 20px;
    outline: none;
    border: none;
}
.features-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 34px rgba(130, 46, 255, 0.76);
    transition: 0.3s;
}
.customize-container {
    display: flex;
}
.customize-first-column {
    margin-top: 350px;
    margin-right: 40px;
}
.customize-second-column {
    margin-top: 550px;
}
.customize-box {
    background-color: #20202C;
    width: 410px;
    height: 430px;
    box-shadow: 0px 0px 40px #0000008A;
    border-radius: 7px; 
    margin-bottom: 40px;
    padding-top: 50px;
}
.customize-box-text {
    padding: 0px 33px 50px 33px;
}
.customize-box h3 {
    text-align: left;
    font: Bold 23px/55px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 20px 0 20px 0;
}
.customize-box p {
    text-align: left;
    font: Light 16px/35px Muli;
    letter-spacing: 0px;
    color: #66667E;
    line-height: 35px;
}
.pencilcase-container {
    background-color: #39394D;
    padding: 21px 0 21px 37px;
}
.pencilcase-container img {
    width: 40px;
}



/* CARDS */
.widget-cards-container {
    position: relative;
}
.widget-section {
    display: flex;
    justify-content: space-between;
}
.widgets-container {
    position: relative;
}
.top-card {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    width: 551px;
    height: 352px;
    padding: 70px 44px 0 44px;
    background: transparent linear-gradient(313deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
}
.top-card-name h3 {
    font-size: 34px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.top-card-name p {
    font-size: 22px;
    font-weight: normal;
    color: #FFFFFF;
}
.time {
    font-size: 34px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0;
}
.meridiem {
    font-size: 13px;
    color: #090D17;
    opacity: 0.5;
}

/* Bottom Card */
.bottom-card {
    display: flex;
    flex-direction: column;
    background-color: #20202C;
    padding-left: 44px;
    padding-right: 30px;
    padding-top: 208px;
    height: 626px;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 20px 0px #0000008A;
    overflow: hidden;
}
.running-apps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.running-apps h4 {
    font-weight: 400;
    font-size: 22px;
    color: white;
}
.running-apps a {
    font-weight: 400;
    font-size: 22px;
    color: #8563FC;
}
.cards-container{
    display: flex;
    justify-content: space-between;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 0px #0000008A;
    width: 225px;
    height: 245px;
    border-radius: 7px;
}
.card2 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 0px #0000008A;
    width: 225px;
    height: 245px;
    border-radius: 7px;
    align-self: flex-start;
}
.card-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 16px;
}
.card-text {
    background: #39394D;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.card-text h4 { 
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}
.card-text p {
    color: #66667E;
    font-size: 13px;
}
.power-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    width: 30px;
    height: 30px;
}


/*Count Card*/
.count-cards-container {
    display: flex;
}



/* Light's Card */
.lights-card {
    width: 450px;
    height: 273px;
    border-radius: 7px;
    background: #20202C;
    color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000008A;
    padding: 25px 25px 25px 25px;
    background-image: url(img/bulb.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 250px;
    left: -150px;
}
.lights-card h4 {
    font-size: 24px;
    font-weight: 400;
}
.lights-container {
    display: flex;
    justify-content: space-between;
}
.light-number {
    color: #FFFFFF;
    font-size: 34px;
    margin-bottom: 14px;
}
.light-type {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 4px;
}
.light-time {
    color: #66667E;
}
.light-message {
    font-size: 12px;
    color: #66667E;
}


/* Today's Consumption */
.consumption-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 377px;
    width: 382px;
    background-color: #20202C;
    box-shadow: 0px 0px 20px 0px #0000008A;
    border-radius: 7px;
    position: absolute;
    top: 150px;
    left: 340px;
}

.consumption-card h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    padding: 18px;
    background-color: #39394D;
    width: 100%;
}

.progress-container {
    position: relative;
}

svg {
    transform: rotate(-90deg);
    width: 180px;
    height: 180px;
    margin-top: 30px;
    overflow: visible;
}

.circle-bg {
    stroke: #262634;
    stroke-width: 3;
    fill: none;
    padding: 10px;
}

.circle {
    stroke: #00ff99;
    stroke-width: 4;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 1s ease;
    filter: drop-shadow(0 0 3px #00ff99);
}

.value {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
  
}

.units {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
}   


/* Widget Text */
.widget-text-container {
    max-width: 560px;
    margin-top: 250px;
}
.widget-text-container h4 {
    width: 184px;
    height: 50px;
    background-color: rgba(0, 236, 153, 0.1);
    color: #00EC98;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.widget-text-container h3 {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}
.widget-text-container p {
    color: #66667E;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 50px;
}