html { font-size: 62.5%; }
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #21212E;
}
p {
    color: rgb(126, 126, 146);
}
a:visited {
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    max-width: 145.0rem;
    margin: 0 auto;
}
.brands-wrapper {
    max-width: 180.0rem;
    margin: 0 auto;
}
.circle-wrapper {
    position: relative;
    max-width: 145.0rem;
    margin: 0 auto
}

/* TOP PAGE */
.top-page {
    background-image: url(img/top-bg.png);
    background-repeat: no-repeat;
    height: 108.0rem;
    background-position: center;
}
.top-bar {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 2.0rem;
}
.navbar ul{
    display: flex;
    color: rgb(126, 126, 146);
    text-decoration: none;
    list-style: none;
    align-items: baseline;
}
.navbar ul li {
    margin-top: 5.0rem;
    margin-left: 6.0rem;
    font-size: 2.0rem;
}
.navbar ul li:hover {
    color: rgb(187, 187, 206);
    transition: 0.3s;
}
.home {
    color: rgb(187, 187, 206);
}
.contact {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: white;
    padding: 1.5rem 5.0rem;
    background-color: transparent;
    font-size: 2.0rem;
    outline: none;
}
.contact:hover {
    background-color: white;
    color: #66667E;
    cursor:pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 3.0rem #ffffff62;
}
.top-page-text {
    margin-top: 28.5rem;
    max-width: 51.6rem;
}
.top-page-text h1 {
    font-weight: lighter;
    font-size: 5.5rem;
    color: white;
    margin-bottom: 2.0rem;
}
.top-page-text p {
    text-align: left;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 3.0rem;
    margin-bottom: 7.0rem;
}
.plans {
    width: 28.0rem;
    height: 8.0rem;
    background-color: transparent;
    border-radius: 1.5rem;
    color: white;
    font-size: 2.5rem;
    margin-right: 2.6rem;
    border-radius: 1.5rem;
    border: 2px solid #FFFFFF;
    outline: none;
}
.plans:hover {
    cursor: pointer;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4.0rem rgba(130, 46, 255, 0.76);
    transition: 0.3s;
    border: none;
}
.pricing {
    width: 21.4rem;
    height: 8.0rem;
    background-color: transparent;
    color: white;
    border-radius: 1.5rem;
    border: 2px solid #FFFFFF;
    font-size: 2.5rem;
    outline: none;
}
.pricing:hover {
    cursor: pointer;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4.0rem rgba(130, 46, 255, 0.76);
    transition: 0.3s;
    border: none;
}



/* BRANDS */
.brands-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #21212E;
    padding-left: 8.7rem;
}
.brand {
    background: #20202C 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4.0rem #0000008A;
    border-radius: 7px;
    margin-right: 5.0rem;
}
.img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-triangle img{
    width: 30.0rem;
    margin-bottom: 2.0rem;
    margin-right: 2.0rem;
}
.aws {
    width: 22.2rem;
    height: 14.7rem;
}
.puma {
    width: 26.0rem;
    height: 11.8rem;  
}
.microsoft {
    width: 30.9rem;
    height: 9.6rem;
}
.inkyy {
    width: 31.5rem;
    height: 13.1rem;
}
.nike {
    width: 28.3rem;
    height: 9.7rem;
    align-self: center;
    margin-right: 8.0rem;
}
.disney {
    width: 26.8rem;
    height: 12.4rem;
    align-self: flex-start;
}
.converse {
    width: 25.0rem;
    height: 14.4rem;  
    align-self: flex-end;
    margin-top: 2.6rem;
}
.itunes {
    width: 26.8rem;
    height: 11.0rem;
    align-self: center;
}
.brands-first-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4.6rem;
}
.brands-second-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.0rem;
}
.brands-third-row {
    display: flex;
    margin-bottom: 4.5rem;
    margin-left: 5.0rem;
}
.circle-icon {
    position: absolute;
    right: -10.0rem;
    width: 30.0rem;
}
.brands-text {
    text-align: left;
    margin-top: 30.0rem;
    max-width: 40.0rem;
}
.brands-text h2 {
    color: #ffffff;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.0rem;
    margin-bottom: 4.0rem;
}
.brands-text p {
    line-height: 3.5rem;
    font-size: 1.6rem;
}



/* CUSTOMIZE */
.customize-parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18.0rem;
}
.customize-text-container {
    margin-top: 65.0rem;
    max-width: 50.0rem;
}
.customize-text-container h4 {
    font-size: 1.6rem;
    width: 18.4rem;
    height: 5.0rem;
    background-color: rgba(0, 236, 153, 0.1);
    color: #00EC98;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.0rem;
}
.customize-text-container h2 {
    text-align: left;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 0;
    color: #FFFFFF;
    line-height: 4.0rem;
    margin-bottom: 3.6rem;
}
.customize-text-container p {
    font-size: 1.6rem;
    margin-bottom: 3.6rem;
    line-height: 3.5rem;
    max-width: 50.0rem;
}
.features-btn {
    width: 28.0rem;
    height: 8.0rem;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2.0rem rgba(130, 46, 255, 0.459);
    border-radius: 1.5rem;
    color: white;
    font-size: 2.0rem;
    outline: none;
    border: none;
}
.features-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3.4rem rgba(130, 46, 255, 0.76);
    transition: 0.3s;
}
.customize-container {
    display: flex;
}
.customize-first-column {
    margin-top: 35.0rem;
    margin-right: 4.0rem;
}
.customize-second-column {
    margin-top: 55.0rem;
}
.customize-box {
    background-color: #20202C;
    width: 41.0rem;
    height: 43.0rem;
    box-shadow: 0px 0px 4.0rem #0000008A;
    border-radius: 7px; 
    margin-bottom: 4.0rem;
    padding-top: 5.0rem;
}
.customize-box-text {
    padding: 0px 3.3rem 5.0rem 3.3rem;
}
.customize-box h3 {
    text-align: left;
    font-size: 2.3rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 2.0rem 0 2.0rem 0;
}
.customize-box p {
    text-align: left;
    font-size: 1.6rem;
    letter-spacing: 0px;
    color: #66667E;
    line-height: 3.5rem;
}
.pencilcase-container {
    background-color: #39394D;
    padding: 2.1rem 0 2.1rem 3.7rem;
}
.pencilcase-container img {
    width: 4.0rem;
}



/* CARDS */
.widget-cards-container {
    position: relative;
}
.widget-section {
    display: flex;
    justify-content: space-between;
}
.widgets-container {
    position: relative;
}
.top-card {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    width: 55.1rem;
    height: 35.2rem;
    padding: 7.0rem 4.4rem 0 4.4rem;
    background: transparent linear-gradient(313deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
}
.top-card-name h3 {
    font-size: 3.4rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1.4rem;
}
.top-card-name p {
    font-size: 2.2rem;
    font-weight: normal;
    color: #FFFFFF;
}
.top-card-time span {
    font-size: 3.4rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0;
}
.meridiem {
    font-size: 1.3rem;
    color: #090D17;
    opacity: 0.5;
}

/* Bottom Card */
.bottom-card {
    display: flex;
    flex-direction: column;
    background-color: #20202C;
    padding-left: 4.4rem;
    padding-right: 3.0rem;
    padding-top: 20.8rem;
    height: 62.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 2.0rem 0px #0000008A;
    overflow: hidden;
}
.running-apps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}
.running-apps h4 {
    font-weight: 400;
    font-size: 2.2rem;
    color: white;
}
.running-apps a {
    font-weight: 400;
    font-size: 2.2rem;
    color: #8563FC;
}
.cards-container{
    display: flex;
    justify-content: space-between;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2.0rem 0px #0000008A;
    width: 22.5rem;
    height: 24.5rem;
    border-radius: 7px;
}
.card2 {
    margin-top: 6.0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2.0rem 0px #0000008A;
    width: 22.5rem;
    height: 24.5rem;
    border-radius: 7px;
    align-self: flex-start;
}
.card-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 3.0rem;
    padding-right: 1.6rem;
}
.card-text {
    background: #39394D;
    padding-left: 3.0rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.card-text h4 { 
    color: white;
    font-size: 1.7rem;
    margin-bottom: 4px;
}
.card-text p {
    color: #66667E;
    font-size: 1.3rem;
}
.power-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    width: 3.0rem;
    height: 3.0rem;
}


/*Count Card*/
.count-cards-container {
    display: flex;
}



/* Light's Card */
.lights-card {
    width: 45.0rem;
    height: 27.3rem;
    border-radius: 7px;
    background: #20202C;
    color: #FFFFFF;
    box-shadow: 0px 0px 2.0rem 0px #0000008A;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    background-image: url(img/bulb.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 25.0rem;
    left: -15.0rem;
}
.lights-card h4 {
    font-size: 2.4rem;
    font-weight: 400;
}
.lights-container {
    display: flex;
    justify-content: space-between;
}
.light-number {
    color: #FFFFFF;
    font-size: 3.4rem;
    margin-bottom: 1.4rem;
}
.light-type {
    color: #FFFFFF;
    font-size: 1.6rem;
    margin-bottom: 4px;
}
.light-time {
    color: #66667E;
    font-size: 1.2rem;
}
.light-message {
    font-size: 1.2rem;
    color: #66667E;
}


/* Today's Consumption */
.consumption-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 37.7rem;
    width: 38.2rem;
    background-color: #20202C;
    box-shadow: 0px 0px 2.0rem 0px #0000008A;
    border-radius: 7px;
    position: absolute;
    top: 15.0rem;
    left: 34.0rem;
}

.consumption-card h3 {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 1.8rem;
    background-color: #39394D;
    width: 100%;
}

.progress-container {
    position: relative;
}

svg {
    transform: rotate(-90deg);
    width: 18.0rem;
    height: 18.0rem;
    margin-top: 3.0rem;
    overflow: visible;
}

.circle-bg {
    stroke: #262634;
    stroke-width: 3;
    fill: none;
    padding: 1.0rem;
}

.circle {
    stroke: #00ff99;
    stroke-width: 4;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 1s ease;
    filter: drop-shadow(0 0 3px #00ff99);
}

.value {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.8rem;
  
}

.units {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}   


/* Widget Text */
.widget-text-container {
    max-width: 56.0rem;
    margin-top: 25.0rem;
}
.widget-text-container h4 {
    font-size: 1.6rem;
    width: 18.4rem;
    height: 5.0rem;
    background-color: rgba(0, 236, 153, 0.1);
    color: #00EC98;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.0rem;
}
.widget-text-container h3 {
    font-size: 4.0rem;
    color: #FFFFFF;
    line-height: 4.0rem;
    font-weight: 400;
    margin-bottom: 4.0rem;
}
.widget-text-container p {
    color: #66667E;
    font-size: 1.6rem;
    line-height: 3.5rem;
    margin-bottom: 5.0rem;
}

/*Square Img*/
.square-icon {
    position: absolute;
    right: -20rem;
}

/* Pricing Section */
.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30.0rem;
}
.pricing-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pricing-header-container h3 {
    color: #FFFFFF;
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 4.0rem;
}
.pricing-header-container p {
    color: #66667E;
    font-size: 2.0rem;
    margin-bottom: 1.6rem;
}

/* monthly yearly */
.toggle-buttons {
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    overflow: hidden;
    width: 30.8rem;
    height: 6.0rem;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 6rem;
}

.toggle-option {
    color: #66667E;
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.toggle-option.active {
    color: #ffffff;
}

.toggle-option:first-child {
    border-right: 1px solid #66667E;
}

/* Plans Container */
.plans-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40rem;
}
.plan-header {
    background-color: #39394D;  
    width: 100%;
    margin-top: 5.2rem;
    margin-bottom: 2rem;
    padding: 2rem 0 2rem 0;
}
.plan-card-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 73rem;
    background-color:#20202C;
    box-shadow: 0px 0px 20px 0px #0000008A;
    border-radius: 7px;
    margin-top: 10rem;
    padding-bottom: 8rem;
}
.plan-card-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#20202C;
    box-shadow: 0px 0px 20px 0px #0000008A;
    border-radius: 7px;
    width: 50rem;
    height: 87rem;
    padding-bottom: 6rem;
}
.plans-container h4 {
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: 400;
}
.plans-container p {
    color: #66667E;
    font-size: 2rem;
}
.plan-price {
    margin-bottom: 4.6rem;
}
.plan-text {
    width: 70%;
    line-height: 6rem;
    margin-bottom: 5.5rem;
}
.get-button {
    width: 28.0rem;
    height: 8.0rem;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2.0rem rgba(130, 46, 255, 0.459);
    border-radius: 1.5rem;
    color: white;
    font-size: 2.0rem;
    outline: none;
    border: none;
}
.get-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3.4rem rgba(130, 46, 255, 0.76);
    transition: 0.3s;
}